.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.box {
  background: white;
  padding: 30px;
  border-radius: 8px;
  width: 600px; /* rộng hơn để đủ 2 cột */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 cột đều nhau */
  gap: 12px 20px; /* row-gap | col-gap */
  margin-top: 10px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.field input,
.field select {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.textarea {
  width: 100%;
  height: 90px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-top: 14px;
  resize: none;
}

.buttonRow {
  margin-top: 16px;
  display: flex;
  gap: 10px;
}

.btnPrimary {
  flex: 1;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btnSecondary {
  width: 80px;
  padding: 10px;
  background: #ccc;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.imagePreview {
  grid-column: span 2; /* chiếm 2 cột */
  margin-top: 10px;
  text-align: center;
}

.imagePreview img {
  max-width: 100%;
  max-height: 50px;
  border-radius: 6px;
  object-fit: contain;
}
